In [10]:
import numpy as np
import pandas as pd
import os


datas_list = []
liste = os.listdir("meteo-csv") #recuperation des noms des fichiers

df_array = []
for names in liste: #assemblage de tout le contenu des fichiers dans un tableau de df
    truc = pd.read_csv('meteo-csv/' + names, sep=';')
    df_array.append(truc)

df = pd.concat(df_array) #création dune dataframe complete
df

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0,7005,20220301000000,102680,-50,6,130,3.000000,279.150000,271.950000,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
1,7015,20220301000000,102730,-70,7,140,2.400000,276.350000,272.150000,74,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
2,7020,20220301000000,102390,-20,8,180,8.400000,282.850000,282.050000,95,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
3,7027,20220301000000,102580,-30,8,130,2.500000,281.650000,280.550000,93,...,7,mq,1470,8,mq,1980,mq,8,mq,NaN
4,7037,20220301000000,102630,-50,8,140,3.800000,279.550000,271.150000,55,...,7,mq,6600,mq,mq,mq,mq,mq,mq,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14779,81401,20220831210000,100960,0,5,250,2.200000,297.650000,295.750000,89,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
14780,81405,20220831210000,100920,-70,6,70,3.600000,301.350000,297.950000,82,...,3,mq,3660,mq,9,mq,mq,mq,mq,NaN
14781,81408,20220831210000,100960,10,8,70,1.600000,297.950000,296.350000,91,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
14782,81415,20220831210000,mq,mq,mq,150,0.700000,304.550000,295.550000,59,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
14783,89642,20220831210000,96370,-80,8,160,8.200000,255.050000,248.550000,53,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN

In [11]:
df = df.loc[:,['t', 'u', 'pres']] #récupération des valeurs qui nous interessent
df.drop(df.loc[df['t']=='mq'].index, inplace=True) #suppression des lignes sans valeurs (='mq')
df['t'] = pd.to_numeric(df['t'], downcast='float') #conversion des valeurs de la colonne 't' en float
df['t'] = df['t'] -273.15 #passage des degrés kelvin aux celsius
df = df.assign(status = 0)
df.to_csv('datas', index = False)

In [8]:
import numpy as np
df['t'] = pd.to_numeric(df['pres'], downcast='integer')
df.drop(df.loc[df['pres']=='mq'].index, inplace=True).drop(df.loc[df['u']=='mq'].index, inplace=True)
df = df.assign(df['status'] == np.where(df['pres'] < 101500 and df['pres'] > 90000, 1))

ValueError: Unable to parse string "mq" at position 2988